@-webkit-keyframes noise-anim {
  0% {
    clip: rect(73px, 9999px, 28px, 0);
  }
  5% {
    clip: rect(10px, 9999px, 32px, 0);
  }
  10% {
    clip: rect(66px, 9999px, 73px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 86px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 20px, 0);
  }
  25% {
    clip: rect(73px, 9999px, 54px, 0);
  }
  30% {
    clip: rect(97px, 9999px, 79px, 0);
  }
  35% {
    clip: rect(23px, 9999px, 74px, 0);
  }
  40% {
    clip: rect(89px, 9999px, 45px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(16px, 9999px, 40px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 60px, 0);
  }
  60% {
    clip: rect(20px, 9999px, 61px, 0);
  }
  65% {
    clip: rect(5px, 9999px, 26px, 0);
  }
  70% {
    clip: rect(14px, 9999px, 71px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 34px, 0);
  }
  80% {
    clip: rect(54px, 9999px, 100px, 0);
  }
  85% {
    clip: rect(96px, 9999px, 20px, 0);
  }
  90% {
    clip: rect(64px, 9999px, 100px, 0);
  }
  95% {
    clip: rect(90px, 9999px, 72px, 0);
  }
  100% {
    clip: rect(41px, 9999px, 58px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(73px, 9999px, 28px, 0);
  }
  5% {
    clip: rect(10px, 9999px, 32px, 0);
  }
  10% {
    clip: rect(66px, 9999px, 73px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 86px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 20px, 0);
  }
  25% {
    clip: rect(73px, 9999px, 54px, 0);
  }
  30% {
    clip: rect(97px, 9999px, 79px, 0);
  }
  35% {
    clip: rect(23px, 9999px, 74px, 0);
  }
  40% {
    clip: rect(89px, 9999px, 45px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(16px, 9999px, 40px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 60px, 0);
  }
  60% {
    clip: rect(20px, 9999px, 61px, 0);
  }
  65% {
    clip: rect(5px, 9999px, 26px, 0);
  }
  70% {
    clip: rect(14px, 9999px, 71px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 34px, 0);
  }
  80% {
    clip: rect(54px, 9999px, 100px, 0);
  }
  85% {
    clip: rect(96px, 9999px, 20px, 0);
  }
  90% {
    clip: rect(64px, 9999px, 100px, 0);
  }
  95% {
    clip: rect(90px, 9999px, 72px, 0);
  }
  100% {
    clip: rect(41px, 9999px, 58px, 0);
  }
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(86px, 9999px, 12px, 0);
  }
  5% {
    clip: rect(45px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(5px, 9999px, 24px, 0);
  }
  15% {
    clip: rect(96px, 9999px, 33px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(98px, 9999px, 99px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 64px, 0);
  }
  35% {
    clip: rect(1px, 9999px, 84px, 0);
  }
  40% {
    clip: rect(3px, 9999px, 21px, 0);
  }
  45% {
    clip: rect(38px, 9999px, 56px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 95px, 0);
  }
  60% {
    clip: rect(27px, 9999px, 7px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(92px, 9999px, 43px, 0);
  }
  75% {
    clip: rect(11px, 9999px, 91px, 0);
  }
  80% {
    clip: rect(65px, 9999px, 24px, 0);
  }
  85% {
    clip: rect(75px, 9999px, 89px, 0);
  }
  90% {
    clip: rect(60px, 9999px, 74px, 0);
  }
  95% {
    clip: rect(22px, 9999px, 56px, 0);
  }
  100% {
    clip: rect(48px, 9999px, 97px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(86px, 9999px, 12px, 0);
  }
  5% {
    clip: rect(45px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(5px, 9999px, 24px, 0);
  }
  15% {
    clip: rect(96px, 9999px, 33px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(98px, 9999px, 99px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 64px, 0);
  }
  35% {
    clip: rect(1px, 9999px, 84px, 0);
  }
  40% {
    clip: rect(3px, 9999px, 21px, 0);
  }
  45% {
    clip: rect(38px, 9999px, 56px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 95px, 0);
  }
  60% {
    clip: rect(27px, 9999px, 7px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(92px, 9999px, 43px, 0);
  }
  75% {
    clip: rect(11px, 9999px, 91px, 0);
  }
  80% {
    clip: rect(65px, 9999px, 24px, 0);
  }
  85% {
    clip: rect(75px, 9999px, 89px, 0);
  }
  90% {
    clip: rect(60px, 9999px, 74px, 0);
  }
  95% {
    clip: rect(22px, 9999px, 56px, 0);
  }
  100% {
    clip: rect(48px, 9999px, 97px, 0);
  }
}

@-webkit-keyframes move-quest {}

@keyframes move-quest {}.glitch {
  color: white;
  position: relative;
  margin: 0 auto;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  text-shadow: -1px 0 red;
  top: 0;
  right: 38.7%;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 1px 0 blue;
  top: 0;
  left: 38.7%;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justiyfy-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justiyfy-content: space-between;
}

header {
  background-color: #3A405A;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header main {
  position: relative;
  top: 25%;
  text-align: center;
  text-shadow: 0 0 4px rgba(30, 30, 30, 0.5);
}

header main .title {
  color: #fff;
  font-size: 4em;
}

header main .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 530px;
}

header main .questions .quest {
  padding: 10px;
  color: rgba(180, 180, 180, 0.5);
  text-align: center;
  font-size: 18px;
  border-bottom: 4px dashed rgba(180, 180, 180, 0.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: 0 15px;
  cursor: pointer;
}

header main .questions .quest:first-child {
  margin-left: 0;
}

header main .questions .quest:last-child {
  margin-right: 0;
}

header main .questions .quest span {
  white-space: nowrap;
}

header main .questions .quest:hover {
  border-bottom: 4px solid #fff;
  color: #fff;
}
